# Pre-reqs

In [1]:
#!pip install mmh3

In [45]:
import numpy as np
import pandas as pd
import mmh3

# Task 1

## Stopwords Removal

 In this exercise you have to remove stopwords from a given **Initial** text and convert the text into the **Final** text given to you 

*Note - Please only write your code where it is mentioned to and do not change anything else*

**Intial text**

> Sentiment analysis is the process of using natural language processing , text analysis , and statistics to analyze customer sentiment .


**Final text**

> Sentiment is process using natural language processing , text , statistics analyze customer .

In [3]:
import nltk
#nltk.download('punkt')
from nltk.corpus import stopwords
#nltk.download('stopwords')
from nltk.tokenize import word_tokenize

## Tokenize your text

In [4]:
text = "Sentiment analysis is the process of using natural language processing , text analysis , and statistics to analyze customer sentiment ."

In [5]:
#write your code here to convert sentence into work tokens using function word_tokenize#
text_tokens = word_tokenize(text)

In [6]:
print(text_tokens)

['Sentiment', 'analysis', 'is', 'the', 'process', 'of', 'using', 'natural', 'language', 'processing', ',', 'text', 'analysis', ',', 'and', 'statistics', 'to', 'analyze', 'customer', 'sentiment', '.']

*Expected output*

['Sentiment', 'analysis', 'is', 'the', 'process', 'of', 'using', 'natural', 'language', 'processing', ',', 'text', 'analysis', ',', 'and', 'statistics', 'to', 'analyze', 'customer', 'sentiment', '.']

## Creating the stopwords list

In [7]:
stopword_list = stopwords.words('english') # now stopword_list will be appended by already known common stopwords which can be seen by prinitng the list below #

In [8]:
print(stopword_list)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [9]:
# Append and Remove some stopwords from the list such that after removing stopwords from intial text using stopwords_list you can get final text

# ...
# write your code here 
stopword_list.extend(['sentiment','analysis'])
stopword_list.remove('is')
# ...

In [10]:
 #Remove all tokens from text_tokens which are also present in stopword_list and store remaining tokens in sw_filtered_text#

 #...
 # write your code here (Hint - create a list named sw_filtered_text fulfilling above criteria)
sw_filtered_text=[word for word in text_tokens if word not in stopword_list]
 #..

In [11]:
print(sw_filtered_text)

['Sentiment', 'is', 'process', 'using', 'natural', 'language', 'processing', ',', 'text', ',', 'statistics', 'analyze', 'customer', '.']

*Expected output*

['Sentiment', 'is', 'process', 'using', 'natural', 'language', 'processing', ',', 'text', ',', 'statistics', 'analyze', 'customer', '.']

## Output

In [12]:
sw_filtered_text = (" ").join(sw_filtered_text)
print(sw_filtered_text)


# The above code will join all the tokens in the final list now check whether your output with the final text given to you or not.

Sentiment is process using natural language processing , text , statistics analyze customer .

# Task 2

## Stemming

In this exercise, with the given input, produce the given output by stemming the previously tokenized words.

*Note - Write your code only where it is mentioned to and keep everything else unchanged.*

**Input**
> ['Constantly', 'concentrating', 'nearby', 'object', 'may', 'lead', 'one', 'feel', 'strain' 'eyes']



**Output**
> ['Constant', 'concentrat', 'near', 'object', 'may', 'lead', 'on', 'feel', 'strain' 'ey']

In [42]:
from nltk.stem import RegexpStemmer
regexp = RegexpStemmer('ing$|by$|ly$|e$|es$', min=3)

tokens=['Constantly', 'concentrating', 'nearby', 'object', 'may', 'lead', 'one', 'feel', 'strain' 'eyes']
stemmed_tockens = [regexp.stem(word) for word in tokens]

In [43]:
# Final output
stemmed_tockens

['Constant',
 'concentrat',
 'near',
 'object',
 'may',
 'lead',
 'on',
 'feel',
 'strainey']

Questionnaire:
1. Have you written an entire function for stemming? - YES/NO -------> NO
2. Have you used any pre-built library for this task? - YES/NO --------> YES
3. Name the library used (write NA if not used): RegexpStemmer

# Task 3

## The Hashing Trick

The conventional Bag of Words method involves formation of vocabulary out of all the available tokens in the given text and later, building features out of the vocabulary using frequencies of tokens or just their presence (1s or 0s). Feature hashing or the hashing trick helps overcome some of the major limitations of conventional Bag of Words like growing vocabulary with growing dataset size i.e. dimensionality reduction or dodging crafty corner cases. 

For some further details on Feature hashing, refer to these links:
1. https://en.wikipedia.org/wiki/Feature_hashing
2. https://medium.com/value-stream-design/introducing-one-of-the-best-hacks-in-machine-learning-the-hashing-trick-bf6a9c8af18f

For this Task, given some arbitrary data in a DataFrame, implement Feature hashing manually using MurmurHash3 (using mmh3 module imported at the beginning) to hash each word and then modulo to build a feature vector as shown in the below example:


---


Example:

**Dataset**

| Text      | Label |
| --------- | ----- |
| Loved the service      | 1       |
| Terrible food   | 0        |

Using conventional bag of words, we would require 5 features for 5 unique words in both the sentences (loved, the, service, terrible, food).

Let us use feature hashing such that output feature vector has 4 features (use modulo 4 after hashing)

Sentence 1: Loved the service

| Words      | Hash | Hash modulo 4 |
| --------- | ----- | ------------- |
| loved | 2334787929 | 1 |
| the   | 3162218338 | 2 |
| service | 3640852848 | 0 |

Sentence 2: Terrible food

| Words      | Hash | Hash modulo 4 |
| --------- | ----- | ------------- |
| terrible | 2800746226 | 2 |
| food   | 2122679414 | 2 |

Final feature vector:

| Sentence      | Hash Feature 0 | Hash Feature 1 | Hash Feature 2 | Hash Feature 3 |
| --------- | ----- | ------------- | ----- | ----- |
| Loved the service | 1 | 1 | 1 | 0 |
| Terrible food | 0 | 0 | 2 | 0 |

Thus the output should be:


```
sample_output = [1, 1, 1, 0
                 0, 0, 2, 0]
```

For the dataset given in the problem: 

- Required features: 1000

- Hash function: mmh3 (must use unsigned hash)

**NOTE: You should only use Pandas, NumPy and mmh3 for this task, if any other library is used, your submission will not be considered.**

In [46]:
df = pd.read_csv('data_BoW.csv',index_col=0)
df

                                             text_clean  label_num
0     subject enron methanol meter this is a follow ...          0
1     subject hpl nom for january see attached file ...          0
2     subject neon retreat ho ho ho we re around to ...          0
3     subject photoshop windows office cheap main tr...          1
4     subject re indian springs this deal is to book...          0
...                                                 ...        ...
5166  subject put the on the ft the transport volume...          0
5167  subject and following noms hpl can t take the ...          0
5168  subject calpine daily gas nomination julie as ...          0
5169  subject industrial worksheets for august activ...          0
5170  subject important online banking alert dear va...          1

[5171 rows x 2 columns]

In [52]:
#your code here
df['text_clean_tokens']=df['text_clean'].apply(lambda x:x.split())

In [53]:
df.head()

,text_clean,label_num,text_clean_tokens
0,subject enron methanol meter this is a follow ...,0,"[subject, enron, methanol, meter, this, is, a,..."
1,subject hpl nom for january see attached file ...,0,"[subject, hpl, nom, for, january, see, attache..."
2,subject neon retreat ho ho ho we re around to ...,0,"[subject, neon, retreat, ho, ho, ho, we, re, a..."
3,subject photoshop windows office cheap main tr...,1,"[subject, photoshop, windows, office, cheap, m..."
4,subject re indian springs this deal is to book...,0,"[subject, re, indian, springs, this, deal, is,..."

In [54]:
#aaplying the hash function from mmh3
df['text_clean_tokens']=df['text_clean_tokens'].apply(lambda x:[mmh3.hash(w,signed=False)%1000 for w in x])

In [55]:

df['text_clean_tokens']

0       [535, 63, 546, 876, 582, 277, 850, 75, 685, 69...
1       [535, 688, 210, 733, 858, 112, 696, 475, 397, ...
2       [535, 527, 621, 67, 67, 67, 791, 47, 69, 691, ...
3       [535, 678, 204, 99, 837, 616, 604, 233, 468, 4...
4       [535, 47, 815, 692, 582, 729, 277, 691, 254, 3...
                              ...
5166    [535, 232, 338, 185, 338, 444, 338, 312, 640, ...
5167    [535, 451, 693, 866, 688, 309, 157, 87, 338, 3...
5168    [535, 198, 402, 996, 828, 733, 676, 515, 390, ...
5169    [535, 65, 193, 733, 515, 995, 696, 136, 338, 1...
5170    [535, 551, 787, 198, 463, 587, 803, 989, 507, ...
Name: text_clean_tokens, Length: 5171, dtype: object

In [57]:
lst=[f'Hash feature {i}' for i in range(0,1000)]
df_test=pd.DataFrame(data=None,columns=lst)

In [59]:
df_test.head()

Empty DataFrame
Columns: [Hash feature 0, Hash feature 1, Hash feature 2, Hash feature 3, Hash feature 4, Hash feature 5, Hash feature 6, Hash feature 7, Hash feature 8, Hash feature 9, Hash feature 10, Hash feature 11, Hash feature 12, Hash feature 13, Hash feature 14, Hash feature 15, Hash feature 16, Hash feature 17, Hash feature 18, Hash feature 19, Hash feature 20, Hash feature 21, Hash feature 22, Hash feature 23, Hash feature 24, Hash feature 25, Hash feature 26, Hash feature 27, Hash feature 28, Hash feature 29, Hash feature 30, Hash feature 31, Hash feature 32, Hash feature 33, Hash feature 34, Hash feature 35, Hash feature 36, Hash feature 37, Hash feature 38, Hash feature 39, Hash feature 40, Hash feature 41, Hash feature 42, Hash feature 43, Hash feature 44, Hash feature 45, Hash feature 46, Hash feature 47, Hash feature 48, Hash feature 49, Hash feature 50, Hash feature 51, Hash feature 52, Hash feature 53, Hash feature 54, Hash feature 55, Hash feature 56, Hash feature 57, Hash feature 58, Hash feature 59, Hash feature 60, Hash feature 61, Hash feature 62, Hash feature 63, Hash feature 64, Hash feature 65, Hash feature 66, Hash feature 67, Hash feature 68, Hash feature 69, Hash feature 70, Hash feature 71, Hash feature 72, Hash feature 73, Hash feature 74, Hash feature 75, Hash feature 76, Hash feature 77, Hash feature 78, Hash feature 79, Hash feature 80, Hash feature 81, Hash feature 82, Hash feature 83, Hash feature 84, Hash feature 85, Hash feature 86, Hash feature 87, Hash feature 88, Hash feature 89, Hash feature 90, Hash feature 91, Hash feature 92, Hash feature 93, Hash feature 94, Hash feature 95, Hash feature 96, Hash feature 97, Hash feature 98, Hash feature 99, ...]
Index: []

[0 rows x 1000 columns]

In [58]:
df_test1=pd.DataFrame(data=df['text_clean'])
df_test1

                                             text_clean
0     subject enron methanol meter this is a follow ...
1     subject hpl nom for january see attached file ...
2     subject neon retreat ho ho ho we re around to ...
3     subject photoshop windows office cheap main tr...
4     subject re indian springs this deal is to book...
...                                                 ...
5166  subject put the on the ft the transport volume...
5167  subject and following noms hpl can t take the ...
5168  subject calpine daily gas nomination julie as ...
5169  subject industrial worksheets for august activ...
5170  subject important online banking alert dear va...

[5171 rows x 1 columns]

In [60]:
#concatinating both the dataframes
df_test=pd.concat([df_test1,df_test])

In [63]:
df_test.head()

,text_clean,Hash feature 0,Hash feature 1,Hash feature 2,Hash feature 3,Hash feature 4,Hash feature 5,Hash feature 6,Hash feature 7,Hash feature 8,...,Hash feature 990,Hash feature 991,Hash feature 992,Hash feature 993,Hash feature 994,Hash feature 995,Hash feature 996,Hash feature 997,Hash feature 998,Hash feature 999
0,subject enron methanol meter this is a follow ...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,subject hpl nom for january see attached file ...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,subject neon retreat ho ho ho we re around to ...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,subject photoshop windows office cheap main tr...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,subject re indian springs this deal is to book...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
#filling the dataframe with 0's initially
df_test.fillna(value=0,inplace=True)

In [75]:
# loop for adding the values in dataframe as per their occurences in the sentence
for i in range(len(df)):
    lst=df['text_clean_tokens'][i]
    for j in lst:
        label=f'Hash feature {j}'
        df_test.loc[i,label]=df_test.loc[i,label]+1

In [78]:
df_test.head()

,text_clean,Hash feature 0,Hash feature 1,Hash feature 2,Hash feature 3,Hash feature 4,Hash feature 5,Hash feature 6,Hash feature 7,Hash feature 8,...,Hash feature 990,Hash feature 991,Hash feature 992,Hash feature 993,Hash feature 994,Hash feature 995,Hash feature 996,Hash feature 997,Hash feature 998,Hash feature 999
0,subject enron methanol meter this is a follow ...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,subject hpl nom for january see attached file ...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,subject neon retreat ho ho ho we re around to ...,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,2,0,0,4
3,subject photoshop windows office cheap main tr...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,subject re indian springs this deal is to book...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [80]:
# numpy array as per the sample c
np.array(df_test.loc[:,'Hash feature 0':])

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 4],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [7, 0, 0, ..., 1, 0, 0]], dtype=int64)