In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import nltk

In [3]:
#nltk.download_shell()

In [4]:
from nltk.corpus import stopwords

In [5]:
df=pd.read_csv('cleaned_data.csv',index_col=0)

In [6]:
df.head()

                                              Review  Rating  length
0  nice hotel expensive parking got good deal sta...       2     577
1  ok nothing special charge diamond member hilto...       0    1646
2  nice rooms not experience hotel monaco seattle...       1    1372
3  unique great stay wonderful time hotel monaco ...       2     583
4  great stay great stay went seahawk game awesom...       2    1241

In [7]:
#function for removing stopwords
def func(message):
    return [word for word in message.split() if word.lower() not in stopwords.words('english')]

In [8]:
df.loc[0,'Review']

'nice hotel expensive parking got good deal stay hotel anniversary arrived late evening took advice previous reviews did valet parking check quick easy little disappointed non existent view room room clean nice size bed comfortable woke stiff neck high pillows not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway maybe just noisy neighbors aveda bath products nice did not goldfish stay nice touch taken advantage staying longer location great walking distance shopping overall nice experience having pay parking night'

In [9]:
#after removing the stopwords
" ".join(func(df.loc[0,'Review']))

'nice hotel expensive parking got good deal stay hotel anniversary arrived late evening took advice previous reviews valet parking check quick easy little disappointed non existent view room room clean nice size bed comfortable woke stiff neck high pillows soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway maybe noisy neighbors aveda bath products nice goldfish stay nice touch taken advantage staying longer location great walking distance shopping overall nice experience pay parking night'

In [ ]:
#removing stopwords for the entire column of reviews
df['Review']=df['Review'].apply(func)

In [ ]:
df.head()

In [21]:
#removing the length column
df.drop('length',axis=1,inplace=True)

In [22]:
df.head()

                                              Review  Rating
0  [nice, hotel, expensive, parking, got, good, d...       2
1  [ok, nothing, special, charge, diamond, member...       0
2  [nice, rooms, experience, hotel, monaco, seatt...       1
3  [unique, great, stay, wonderful, time, hotel, ...       2
4  [great, stay, great, stay, went, seahawk, game...       2

In [23]:
from nltk.stem import PorterStemmer

In [24]:
stemmer_porter=PorterStemmer()

In [25]:
test=df['Review'][0]

In [27]:
def porter_stemmer(word):
    stemmer_porter=PorterStemmer()
    return [stemmer_porter.stem(w) for w in word]

In [28]:
#stemming using Porter Stemmer
df['Review']=df['Review'].apply(porter_stemmer)

In [29]:
df.head()

                                              Review  Rating
0  [nice, hotel, expens, park, got, good, deal, s...       2
1  [ok, noth, special, charg, diamond, member, hi...       0
2  [nice, room, experi, hotel, monaco, seattl, go...       1
3  [uniqu, great, stay, wonder, time, hotel, mona...       2
4  [great, stay, great, stay, went, seahawk, game...       2

In [30]:
#Rejoining the lists to form the review column
df['Review']=df['Review'].apply(lambda x:" ".join(x))

In [31]:
df.head()

                                              Review  Rating
0  nice hotel expens park got good deal stay hote...       2
1  ok noth special charg diamond member hilton de...       0
2  nice room experi hotel monaco seattl good hote...       1
3  uniqu great stay wonder time hotel monaco loca...       2
4  great stay great stay went seahawk game awesom...       2